.help-block {
  display: inline;
}

.project-name-label-col {
  white-space: nowrap;
  vertical-align: middle !important;
}

.project-name-input-col {
  width: 100%;
}

.create-project-tabs .tab-content {
  padding-top: 10px;
}